pandas==2.2.3
numpy==1.26.4
dash==2.18.1
dash-bootstrap-components==1.6.0
dash-bootstrap-templates==1.3.0
dash-core-components==2.0.0
dash_dangerously_set_inner_html==0.0.2
dash-extensions==0.1.6
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
plotly==5.24.1
scipy==1.14.1
